<div class="card">

    <p-breadcrumb [model]="navigationItemsRoutes"></p-breadcrumb>

    <p-table #dtOrdenes [value]="ordenesPedidosCustomList" responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowHover]="true"
        styleClass="p-datatable-sm" [resizableColumns]="true" dataKey="id"  [rowsPerPageOptions]="[10,25,50]" sortMode="multiple"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros."
        [showCurrentPageReport]="true" [loading]="loadingOrdenesPedidoVendedor"
        [globalFilterFields]="['serie','numero','ordenCompra','cliente.clienteRazonSocial','tienda','origen','observaciones','fechaEntrega','lugarEntrega','horaEntrega','estado']">
        <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="19" class="nodata">No hay ordenes de pedido que mostrar.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="grid">
                <div class="col-12 md:col-12 lg:col-4">
                  <div class="grid">
                    <div class="col-12 md:col-5 lg:col-5 flex">
                      <p-dropdown class="p-select" placeholder="Filtrar por:" [style]="{'width':'100%'}"
                        [options]="filtroSelect" [(ngModel)]="indexSelected" optionLabel="label" optionValue="id" (onChange)="onChangeFiltroSelect($event)">
                      </p-dropdown>
                    </div>
                    <div class="col-12 md:col-6 lg:col-6 flex">
                      <input [(ngModel)]="filterName" pInputText type="text" placeholder="datos a buscar..." [disabled]="inputFiltroDisabled()" [maxlength]="nroCaracteresFilter"/>
                    </div>
                    <div class="col-12 md:col-1 lg:col-1 flex">
                      <button pButton pRipple [style]="{'width':'100%'}" label="" icon="pi pi-search" class="btnSearch p-button-primary p-mr-2"
                        (click)="buscarOrdenes(filterName, index)" [disabled]="btnBuscarDisabled()">
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-12 lg:col-6">
                    <div class="grid">
                        <div class="col-12 md:col-6 flex">
                            <label for="dateInicial" [style]="{'width':'45px'}">Fecha inicial</label>
                            <p-calendar #dateIni [style]="{'width':'100%'}"  class="p-calendario" [(ngModel)]="dateInicial" (showClear)="true"
                                        (onSelect)="onSelectedDates()" dateFormat="dd/mm/yy" [showIcon]="true" inputId="icon">
                            </p-calendar>
                        </div>
                        <div class="col-12 md:col-6 flex">
                            <label for="dateFinal" [style]="{'width':'45px'}">Fecha final</label>
                            <p-calendar #dateFin [style]="{'width':'100%'}"  class="p-calendario" [(ngModel)]="dateFinal" (showClear)="true"
                                        (onSelect)="onSelectedDates()" dateFormat="dd/mm/yy" [showIcon]="true" inputId="icon"></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-2">
                    <div class="grid" fxLayoutAlign="end center">
                        <div class="col-12 md:col-6 lg:col-8 flex">
                            <button pButton [style]="{'width':'100%'}" label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clearFilters(dtOrdenes)"></button>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3 flex">
                            <i *ngIf="spinnerOn==false; else elseSpinner" pButton pRipple icon="pi pi-spinner"
                            style="font-size: 1rem" class="p-button-rounded p-button-primary" (click)="reloadListaOrdenes(dtOrdenes)"
                            pTooltip="Actualizar lista de ordenes" tooltipPosition="top">
                            </i>
                            <ng-template #elseSpinner>
                                <p-progressSpinner [style]="{width: '30px', height: '30px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="titleColumnTable" pSortableColumn="estado">Estado<p-sortIcon field="estado"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="fecha">Fecha<p-sortIcon field="fecha"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="semana">Semana<p-sortIcon field="semana"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="tipoOrden">Tipo<p-sortIcon field="tipoOrden"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="numero">N&uacute;mero<p-sortIcon field="numero"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="canalVenta.canalVentaDescripcion">Canal venta<p-sortIcon field="canalVenta.canalVentaDescripcion"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="cliente.clienteRazonSocial">Cliente en Comprobante<p-sortIcon field="cliente.clienteRazonSocial"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="clienteDestino.clienteRazonSocial">Cliente Real<p-sortIcon field="clienteDestino.clienteRazonSocial"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="fechaVencimiento">Fecha vencimiento<p-sortIcon field="fechaVencimiento"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="ordenCompra">Orden compra<p-sortIcon field="ordenCompra"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="tienda">Tienda<p-sortIcon field="tienda"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="origen">Origen<p-sortIcon field="origen"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="fechaEntrega">Fecha entrega<p-sortIcon field="fechaEntrega"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="horaEntrega">Hora entrega<p-sortIcon field="horaEntrega"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="lugarEntrega">Lugar entrega<p-sortIcon field="lugarEntrega"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="observaciones">Observaciones<p-sortIcon field="observaciones"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="lote">Lote<p-sortIcon field="lote"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="vendedor">Vendedor<p-sortIcon field="vendedor"></p-sortIcon></th>
                <th class="titleColumnTable" pSortableColumn="fechaCreacion">Fecha creación<p-sortIcon field="fechaCreacion"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-orden>
            <tr>
                <td><span [class]="'product-badge status-' + orden.estado.toLowerCase()">{{orden.estado}}</span></td>
                <td>{{orden.fecha | customDate}}</td>
                <td>{{orden.semana}}</td>
                <td>{{orden.tipoOrden}}</td>
                <td>{{orden.serie+'-'+orden.numero}}</td>
                <td>{{orden.canalventa?.canalVentaDescripcion}}</td>
                <td>{{orden.cliente?.clienteRazonSocial}}</td>
                <td>{{orden.clienteDestino?.clienteRazonSocial}}</td>
                <td>{{orden.fechaVencimiento | customDate}}</td>
                <td>{{orden.ordenCompra}}</td>
                <td>{{orden.tienda}}</td>
                <td>{{orden.origen}}</td>
                <td>{{orden.fechaEntrega | customDate}}</td>
                <td>{{orden.horaEntrega}}</td>
                <td>{{orden.lugarEntrega}}</td>
                <td>{{orden.observaciones}}</td>
                <td>{{orden.lote}}</td>
                <td>{{orden.vendedor?.numeroDocumentoVendedor+' '+orden.vendedor?.nombreVendedor+' '+orden.vendedor?.apellidosVendedor}}</td>
                <td>{{orden.fechaCreacion  | customDateTime}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-file"
                    class="p-button-rounded p-button-secondary p-button-sm"
                    pTooltip="Detalle de la orden"
                    tooltipPosition="top"
                    (click)="setDetallesDeOrden(orden)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Total: {{ordenesPedidosCustomList ? ordenesPedidosCustomList.length : 0}} ordenes de pedido.
            </div>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="detalleDialog"
          [style]="{width: '1000px'}"
          [header]="'Detalle de orden'"
          [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="card">
        <p-table responsiveLayout="scroll" [value]="detalleOrdenCustomList">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Secuencia</th>
                    <th>C&oacute;digo</th>
                    <th>Art&iacute;culo</th>
                    <th>Unidades</th>
                    <th>UM2</th>
                    <th>Cantidad</th>
                    <th>UM1</th>
                    <th>Precio</th>
                    <th>Observaci&oacute;n</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-detalle let-columns="columns">
                <tr>
                    <td>{{detalle.secuencia}}</td>
                    <td>{{detalle.articulo.articuloCodigo}}</td>
                    <td>{{detalle.articulo.articuloDescripcion}}</td>
                    <td>{{detalle.unidades}}</td>
                    <td>{{detalle.articulo.unidadmedidaId2?.unidadMedidaNombreCorto!}}</td>
                    <td>{{detalle.cantidad}}</td>
                    <td>{{detalle.articulo.unidadMedidaId1?.unidadMedidaNombreCorto!}}</td>
                    <td>{{detalle.precio | currency:'':'S/. '}}</td>
                    <td>{{detalle.observacion}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
  </ng-template>
</p-dialog>