body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica,
    Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

p-dropdown {
  width: 100%;
}

.titleColumnTableOP {
  color: #1780d7 !important;
}

.titleFields {
  //margin-bottom: 5px !important;
  font-weight: bold !important;
}

td {
  padding-bottom: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0.3rem !important;
  padding-top: 0rem !important;
  font-size: x-small;
}

.dataTable {
  font-weight: bold;
}
