td {
    padding: 0.5rem !important;
}

.titleFields {
    font-weight: bold !important;
}

.p-select{
    width: 100%;
}

.titleColumnTable {
    color: #1780d7 !important;
    padding:1rem !important;
}

